@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
}

.cabecalho{
    height: 115px;
    width: 80%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}
.logoItatech{
    width: 151px;
    height: 39px;
}
#buscar{
    margin-left: 15px;
    width: 339px;
    height: 40px;
    background: #F5F5F5;
    border: none;
    border-radius: 20px;
}

.btnLogin{
   height: 51px;
   width: 182px;
   margin-left: 300PX;
   border: solid 1px #2A7AE4;
   background-color: transparent;
   color: #2A7AE4;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 16px;
      
}
.logoBusca{
    display: flex;
    align-items: center;
}
/*.logoBusca > a{
    position: absolute;
    left: 520px;
}*/
.btnLupa{
    position: relative;
    left: -30px;
}
.btnLupaCopia{
    display: none;
}

@media only screen and (max-width:768px){
    .btnLogin{
        margin-left: 100px;
        min-width: 166px;
    }
    #buscar{
        width: 230px;
    }
    .btnLupa{
        position: relative;
        left: -30px;
    }
    
}

@media only screen and (max-width:400px){
    #buscar{
        display: none;
    }
    .cabecalho{
        flex-grow: 1;
        margin-left: 40px;
        align-items: center;
    }
    .btnLupaCopia{
        display: flex;
        flex-grow: 0;
        margin-left: 20px;
        margin-right: 20px;
        
    }/*fazendo so um teste para tentar tirar a gambiarra*/
     
    .btnLupa{
        display: none;
    }
    .logoItatech{
        width: 120px;
        flex-basis: 120px;
        margin-left: 0px;
    
    }
    .btnLogin{
        min-width: 133px !important;
        margin-left: 0px;
    }
    .btnDiv{
        display: flex;
        flex-basis: 133px;
        width: 133px;
        margin-left: 0;
    }
  

}