.corFundo{
    background-color: #E5E5E5;
}
.produtoSmiliar{
    display: flex;
}
.imageDetalhes{
    width: 560px;
    height: 403px;
}
.divPrincipal{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.produtoPrincipal{
    display: flex;
    margin-bottom: 60px;
}
.divdetalheProduto{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-right: 100px; 
}
.imageDiv{
    margin-left: 50px;
}
.tituloProduto{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 61px;
    margin-bottom: 10px;
    margin-top: 80px;
}
.precoProduto{  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}
.detalheProduto{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.produtoSmiliar{
    display: flex;
    padding-left: 50px;
    padding-bottom: 60px;
} 
.tituloProdutoSmiliar{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding-left: 50px;
    padding-bottom: 10px;
}

@media only screen and (max-width:768px){
    .imageDetalhes{
        width: 254px;
        height: 187px;
    }
    .tituloProduto{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .detalheProduto{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .tituloProdutoSmiliar{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }
    .imageDiv{
        margin-left: 30px;
    }
    .produtoSmiliar{
        padding-left: 30px;
    }
    .tituloProdutoSmiliar{
        padding-left: 30px;
    }
    .produto > img{
        max-width: 164px;
    }
   
   
}

@media only screen and (max-width:360px){
    .produtoPrincipal{
        flex-direction: column;
    }
    .imageDiv > img{
        width: 100%;
        height: 192px;
        padding-left: 0;
    }
    .imageDiv{
        margin-left: 0px;
    }
    .divPrincipal{
        padding-top: 0px;
    }
    .divdetalheProduto{
        margin-top: 10px;
    }
    .produtoPrincipal{
        margin-bottom: 40px;
    }
    .produtoSmiliar{
        flex-wrap: wrap;
        padding-left: 5px;
        padding-bottom: 20px;
    }
    .produto{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .produto > img{
        max-width: 156px;
    }
    .tituloProdutoSmiliar{
        padding-left: 10px;
        margin-bottom: 5px;
    }
    

}
