.formulario{
    height: 391px;
    display: flex;
    justify-content: space-around;
    background-color: #EAF2FD;
    align-items: flex-start;
    padding-top: 80px;
    
}
.divImageLinks{
    display: flex;
    flex-direction: row;
}
.linksForm{
    margin-left: 150px;
}
.linksForm > p{
     padding-bottom: 30px;
}
.linksForm > p > a{
    text-decoration: none;
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.txtformulario{
    border: none;
    height: 56px;
    margin-bottom: 10px;
    width: 360px;
    background: #ffffff;
    border-radius: 4px;
}
.txtformularioDescricao{
    border: none;
    height: 82px;
    width: 360px;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #A2A2A2;
}
.btnEnviar{
    background-color: #2A7AE4;
    color: #ffffff;
    height: 51px;
    width: 152px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.rodape{
    text-align: center;
    height: 102px;
    padding-top: 50px;
}
#lblnome{
    position: relative;
    padding-left: 10px;
    bottom: -18px;
    background-color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;   
    color: #A2A2A2;
}
form > h4{  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    
}

/*consertando a reponsividade do formulario*/
@media only screen and (max-width:864px){
    .divImageLinks{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        
    }
    .form{
        margin-right: 10px;
    }
    .linksForm > p{
        padding-bottom: 30px;
   }
   .linksForm{
    margin-left: 0px;
   }


}
@media only screen and (max-width:768px){
    .form{
        margin-right: 10px;
    }
    .formulario{
        height: 371px;
        justify-content: space-around;
        padding-top: 40px;
    }
    .divImageLinks{
        align-items: center;
    }
    .linksForm{
        margin-left: 0px;
    }
    .btnEnviar{
        width: 164px;
        height: 43px;
    }

}
@media only screen and (max-width:360px){
    .formulario{
        display: flex;
        flex-direction: column;
        height: 700px;
        align-items: center;
       
    }
    .linksForm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imageLogo{
        position: relative;
        padding-top: 10px;
    }
    .form{
        margin-left: 10px;
    }
    #lblnome{
        width: 328px;
        height: 56px;
    }
    .txtformulario{
        width: 328px;
        height: 56px;
    }
    .txtformularioDescricao{
        width: 328px;
        height: 82px;

    }
}