@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600;700&display=swap');

.Divlogin{
    background: #E5E5E5;
    height: 484px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
}

.Divlogin > h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;
}
#txtusername{
    width: 423px;
    height: 63.13px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
}
#txtsenha{
    width: 423px;
    height: 63.13px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
}
.btnEntrar{
    width: 423px;
    height: 62px;
    background: #2A7AE4;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
}
@media only screen and (max-width:360px){
    #txtusername{
        width: 275px;
        height: 41px;
    }
    #txtsenha{
        width: 275px;
        height: 41px;
    }
    .btnEntrar{
        width: 109px;
        height: 40px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;

    }
}
