

.produtoTemas{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: flex-end;
}
.produtoTemas > h1{
    margin-left: 50px;
}
.produtoTemas > a{
    margin-right: 50px;
    text-decoration: none;
    color: #2A7AE4;
}
.listProdutos{
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
}
.produto{
    margin-right: 15px;
} 
.produto > img{
    width: 176px;
    height: 174px;
}
.produto > p > a{
    text-decoration: none;
    color: #2A7AE4;
}
.nomeProduto{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
.styleLetra{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.nomeTema{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.produtos{
    margin-bottom: 32px;
}
.produto > p{
   margin-bottom: 5px;
}


@media only screen and (max-width:768px){
    .produto{
        min-width: 144px;
    }
    .listProdutos{   
        margin-left: 10px;
    }
    .esconder{
        display: none;
    }
    .produtoTemas > h1{
        margin-left: 10px;
    }
}

@media only screen and (max-width:400px){
    .produto > img{
        width: 156px;
        
    }
    .produto{
        margin-left: 20px; 
    }

    .listProdutos{
        flex-wrap: wrap;
        margin-left: 0px;
    }
    .produtoTemas > a{
        margin-right: 10px;
    }
}