

.produtoTemas{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: flex-end;
}
.produtoTemas > H1{
    margin-left: 50px;
}
.maisProduto{
    display: flex;
    align-items: center;
}
.btnVer{
    text-decoration: none;
    color: #2A7AE4;
    margin-right: 10px;
}
.btnSeta{
    margin-right: 50px;
}
.listProdutos{
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
}
.produto{
    margin-right: 15px;
} 

.produto > p > a{
    text-decoration: none;
    color: #2A7AE4;
}
.nomeProduto{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
.styleLetra{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.nomeTema{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.produtos{
    margin-bottom: 32px;
}
.produto > p{
   margin-bottom: 5px;
}


@media only screen and (max-width:768px){
    .produto{
        min-width: 144px;
    }
    .produto > a > img{
        width: 164px;
    }
    .produto > img{
        width: 164px;
    }
    .listProdutos{   
        margin-left: 30px;
        flex-wrap: wrap;
    }
    .esconder{
        display: none;
    }
    .produtoTemas > h1{
        margin-left: 30px;
    }
    .btnSeta{
        margin-right: 20px;
    }
}

@media only screen and (max-width:360px){
    .produto > img{
        width: 156px;     
    }
    .produto > a > img{
        width: 156px;
    }
    .produto{
        margin-left: 7px; 
        margin-right: 7px;
    }

    .listProdutos{
        flex-wrap: wrap;
        margin-left: 0px;
    }
    .produtoTemas{
        margin-top: 15px;
    }
    .produtoTemas > a{
        margin-right: 10px;
    }
    .produtoTemas > h1{
        margin-left: 10px;
    }
    .btnSeta{
        margin-right: 20px;
    }
}