.image-promocional{
    background-image: url("/imagens/Hero\ \(1\).png");
    margin: 0;
    background-position: center;
    background-size: AUTO;
    height: 352px;
    gap: 16PX;
    
}
.image-promocional > P {
    color: #ffffff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-left: 50px;
    margin-top: 10px;
}

.image-promocional > H1{
    color: #ffffff;
    padding-top: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin-left: 50px;
    padding-top: 70px;
   
}

.btnVerConsoles{
    width: 130px;
    height: 51px;
    background: #2A7AE4;
    border: none;
    color: #ffffff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 50px;
    margin-top: 10px;
}
